.tweeted {
  opacity: .60;
  margin: 1em 2em 1em 2em;
  padding-bottom: .5em;
  border-radius: 10px;
}

.tweeted:hover {
   opacity: 0.99;
}

.tweeted:hover .icons {
  visibility: visible;
}

.tweeted header img {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 5px;
}

.userHeader h2 {
  line-height: 5px;
  margin-left: 3px;
  display: inline-block;
}

.userHeader p {
  float:right;
  line-height: 14px;
}


.userHeader, .userFooter {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid;
}

.userHeader {
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-width: 0px;
}

.userFooter {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #eee;
}

.userFooter p {
  display: inline-block;
}

.tweeted div {
  border-left: 1px solid;
  border-right: 1px solid;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.tweeted .icons {
  visibility: hidden;
  float: right;
  margin-top: 17px;
  padding-right: 20px;
  /*display: inline-block;*/
}

.tweeted .icons i {
  padding-right: 10px;
}
